*{
    margin: 0;
    padding: 0;
}
.flex-container{
    width: 100vw;
    height: 100vh;
    display:flex;
    /* flex-flow:row wrap; */
}
.d1{
   flex-direction: column;
   height:50%;
   width:20%;
}
.div1{
display: flex;
flex-direction: row;
height:100%;
width:100%;
}
.c1{
   width:50%;
   height:100%;
   background-color:rgb(227, 71, 71);
}

.c2{
    width:50%;
   height:100%;
   background-color: brown;
}
.div2{
    display: flex;
    flex-direction: row;
    height:100%;
    width:100%;
    }

.c3{
   width:100%;
   height:100%;
    background-color: yellow;
}
.d2{
flex-direction: column;
height:100%;
width:20%;
}
.e1{

    width:100%;
   height:33.33%;
    background-color: rgba(0, 0, 0, 0.305);
}
.e2{
    width:100%;
   height:33.33%;
    background-color: rgba(0, 0, 0, 0.465);
}
.e3{
    width:100%;
   height:33.33%;
    background-color: rgb(0, 0, 0);
}
.d3{
flex-direction: column;
height:100%;
width:20%;
}

.f1{
    width:100%;
   height:40%;
    background-color: rgb(231, 121, 174);
    flex-grow: 2;
}
.f2{
    width:100%;
   height:40%;
    background-color: rgba(237, 124, 190, 0.625);
    flex-grow: 2;
}
.f3{
    width:100%;
   height:20%;
    background-color: rgba(128, 34, 101, 0.705);
}
.d4{
flex-direction: column;
height:100%;
width:20%;
}
.g1{
    width:100%;
   height:40%;
    background-color: rgb(149, 41, 41);
    flex-grow: 2;
}
.g2{
    width:100%;
   height:20%;
    background-color: rgba(120, 41, 44, 0.858);
    flex-grow: 2;
}
.g3{
    width:100%;
   height:40%;
    background-color: rgba(231, 106, 114, 0.879);
}