*{
    margin:0;
    padding: 0;
}
body{
    background-color:rgb(19, 6, 6);
     height:100vh;
    width:100vw;
}
.container{
   height:91.5%;
   width:30%;
    margin: auto;
    background-color: white;
    padding:2%;
}

img{  
    width:100%;
    height:100%;
    border-radius:20px;
    opacity: 0.5;
}
hr{
    margin:2%;
}
.image{ 
    position: relative;
    border-radius:20px;
    width:100%;
    height:100%;
    /* background-image: linear-gradient(rgb(0, 182, 0),green,black ); */
}
.image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:20px;
    background-image: linear-gradient(to bottom,rgba(0, 128, 0, 0.428), rgba(18, 18, 18, 0.4),black);
  }
.content{
    width:25%;
    height: 10%;
    position: absolute;
    bottom:200px; 
    text-align: center;
    padding:3%;
    line-height: 60px; 
    color: white;
    opacity: 1;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}
